// <========================================>
// settings grid
$is-mobile-first: true;
// <========================================>

// <========================================>
// fonts
$font-family: "Roboto", sans-serif;
$font-size: initial;
// <========================================>

// <========================================>
// Colors
$color-1: #eeeff1;
$color-2: #f9f9f9;
$color-3: #34547a;
$color-4: #110a07;
$color-5: #8a8a8a;
$color-6: #5F5D5D;
// <========================================>
