.news {
  padding: 30px 0;
  background-color: var(--C-Bg-2);

  // .news__container

  &__container {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    gap: 10px;
  }

  // .news__title

  &__title {
    color: var(--C-Text-1);
  }

  // .news__form

  .news__form {
    display: flex;
    flex-wrap: wrap;
  }

  // .news__input

  &__input {
    border: 2px solid #fff;
    padding: 10px 16px;
    font-size: 14px;
    color: var(--C-Text-2);

    &:focus {
      outline: unset;
      border: 2px solid var(--C-Line-2);
    }
  }

  // .news__button

  &__button {
    border: 2px solid var(--C-Bg-1);

    &:hover {
      border: 2px solid var(--C-Line-2);
      background-color: #fff;
    }
  }
}
