.burger {
  &__body {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding-top: min(45vw, 90px);
    height: calc(var(--app-vh) * 100 + 10vh);
    min-width: 100%;
    background-color: var(--C-Black-RGBA);
    transform: translateX(-100%);
    gap: 20px;

    &.burger__body--active {
      transform: translate(0%);
    }

    @include container(md) using ($type) {
      position: unset;
      flex-direction: row;
      padding: 0;
      width: unset;
      height: unset;
      background-color: unset;
      transform: translate(0%);
      transition: unset;
    }
  }

  // .burger__search

  &__search {
    @include container(md) using ($type) {
      display: none;
    }
  }

  // .burger__nav

  &__nav {
    flex: 1 1 auto;

    > .nav__items {
      flex-flow: wrap;
      flex-direction: column;
      align-items: center;

      @include container(md) using ($type) {
        flex-direction: row;
      }
    }

    @include container(md) using ($type) {
      flex: unset;
    }
  }

  // .burger__contacts

  &__contacts {
    margin: 0 auto;
    padding-bottom: 5px;
  }

  // .burger__btn

  &__btn {
    position: relative;
    z-index: 30;
    border: unset;
    padding: 0;
    width: min(16vw, 30px);
    height: min(16vw, 25px);
    background-color: unset;
    cursor: pointer;

    &::after,
    &::before,
    > span {
      content: "";
      position: absolute;
      right: 0;
      display: block;
      width: 100%;
      height: 3px;
      background-color: var(--C-Black);
      transition: all 0.4s linear;
    }

    &::before {
      bottom: 0;
      width: 70%;
    }

    &::after {
      top: 0;
      width: 90%;
    }

    > span {
      top: calc(45%);
      width: 80%;
      opacity: 1;
    }

    &.burger__btn--active {
      &::after,
      &::before,
      > span {
        background-color: var(--C-Alabaster);
      }

      &::before {
        bottom: 40%;
        width: 100%;
        transform: rotate(45deg);
      }

      &::after {
        top: 45%;
        width: 100%;
        transform: rotate(-45deg);
      }

      > span {
        top: calc(45%);
        transform: scale(0);
      }
    }

    @include container(md) using ($type) {
      display: none;
    }
  }
}
