.header {
  position: relative;
  left: 0;
  top: 0;
  margin: 0 auto;
  padding: min(3vw, 30px) 0;
  width: 100%;

  // .header__row

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  // .header__logo

  &__logo {
    z-index: 10;
  }

  // .header__search
  &__search {
    display: none;

    @include container(md) using ($type) {
      display: flex;

      .search__icon {
        width: 24px;
        height: 24px;
      }
    }
  }

  // .header__burger

  &__burger {
    @include container(md) using ($type) {
      .nav__item > a {
        font-size: min(6vw, 1.2rem);
      }
    }
  }
}
