.contact-us {
  padding-top: 85px;
  padding-bottom: 85px;
  background: url("../assets/images/contact-us/background.png") center/cover no-repeat;

  // .contact-us__container

  &__container {
  }

  // .contact-us__section-header

  &__section-header {
    &.section-header {
      margin-right: 0;
      margin-left: 0;
      padding-top: 0;
    }

    > .section-header__title {
      text-align: left;
    }
  }
}

.form.form-contact-us {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  .form__content {
    grid-column: 1 / 12 span;

    @media screen and (min-width: 672px) {
      grid-column: 1 / 8 span;
    }

    @media screen and (min-width: 889px) {
      grid-column: 1 / 6 span;
    }
  }

  .form__inputs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @media screen and (min-width: 672px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .form__selects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @media screen and (min-width: 672px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .form__btn {
    grid-column: 1 / 12 span;

    @media screen and (min-width: 672px) {
      grid-column: 1 / 8 span;
    }

    @media screen and (min-width: 889px) {
      grid-column: 1 / 6 span;
    }
  }
}
