[class$="__container"] {
  margin: 0 auto;
  padding: 0 16px;
  max-width: calc($defaultMaxWidth + 16px);
  transition: all 0.4s;
}

@each $index, $value in $breakPoints {
  @if $index != sm {
    @media (min-width: $value) {
      [class$="__container"] {
        min-width: $value;
      }
    }
  }

  @if $index == sm {
    @media (max-width: $value) {
      [class$="__container"] {
        max-width: $value;
      }
    }
  }
}
