.footer {
  border-top: 1px solid #e8e8e8;

  // .footer__row

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: min(3vw, 30px) 10px;
    gap: min(3vw, 30px);
  }

  // .footer__text
  &__text {
    font-weight: 400;
    font-size: min(6vw, 1rem);
    color: var(--C-Black);

    > span {
      font-weight: 700;
    }
  }

  // .footer__contacts
  &__contacts {
    margin: 0 auto;

    @include container(xs) using ($type) {
      margin-right: unset;
      margin-left: unset;
    }
  }
}
